@media (max-width: 1400px) {
    .container {
        max-width: 92vw;
    }
}
@media (max-width: 1280px) {
    .header {
        background-position: left;
        background-size: auto;
    }
    .bowwu {
        &__list  {flex-wrap: wrap;}
        &__title {display: none}

        &--logo {
            &__image {display: none;}
            &__items {display: block !important;}
        }
    }

}
@media (max-width: 1160px) {
    .header {
        &--label__card {display: none;}
        &--nav__menu__item {font-size: 12px;}
    }
    /*  */
    .help--with--buying__logo {
        top: 150px;
        left: 40px;

        & .logo {
            flex-direction: column;
        }
    }
    .weCanHelp--card--text {
        display: block;
    }
    /**/
}
@media (max-width: 1060px) {
    .header--nav__menu {display: none;}
    .nav__contacts {
        &__call {margin: 0;}
        &__container {
            width: 95vw;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
    .footer--map--modal {
        display: none;
    }
}
@media (max-width: 650px) {
    .header--label__text {
        & h2 {font-size: 30px;}
        & p {margin-top: 0; line-height: 160.3%;}
    }
}
@media (max-width: 550px) {
    .header--label__text {
        & h2 {width: 341px;height: 120px;font-size: 26px;}
        & p {margin-top: 25px;width: 283px;height: 44px;font-size: 14px;line-height: 160.3%;}
    }
}