/* Общие стили */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
:root {
    --white: #FFFFFF;
    --blue-gray: #4B6B7C;
    --light-gray: #D5D6D7;
    --light-gray-background: #F7F3EA;
    --title-color: #3E3E3E;
    --text-color: #888888;
    --logo-light-gray: #B9B9B9;
    --link-color: #A29374;
    --views-background: #F5F5F5;
    --address-office: #E1F0F8;

    --E3E3E3: #E3E3E3;
    --DBDBDB: #DBDBDB;
    --E7EAEC: #E7EAEC;
    --F5F5F6: #F5F5F6;
    --F6F6F7: #F6F6F7;
    --757575: #757575;
    --939393: #939393;
    --648597: #648597;
    --545454: #545454;

    --telegram: #2F89CE;
    --whats-app: #48C95F;

    --box-shadow: 0 25px 70px;

    --our-team-active: #BDAF8A;
    --our-team-person: rgba(0, 0, 0, 0.12);

    --transparent: rgba(0, 0, 0, 0.06);
    --transparent08: rgba(0, 0, 0, 0.08);

}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}
.section {
    margin: 60px 0;

    &--title {
        font-size: 38px;
        line-height: 140.3%;
    }
}

.blur   {backdrop-filter: blur(53px);}
.list   {display:flex;flex-direction:row;align-items:center;list-style:none;height:100%;}
.link   {color: var(--link-color);text-decoration: underline;}
.center {display:flex;align-items: center;justify-content: center;}
.start {display:flex;align-items: flex-start;justify-content: start;}
.wrap   {flex-wrap:wrap}
.justify {
    &-between {justify-content: space-between;}
    &-around  {justify-content: space-around;}
    &-evenly  {justify-content: space-evenly;}
}


/* logo */
.logo__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 97.3%;
    color: var(--light-gray);
}
.logo__text {color: var(--logo-light-gray)}
/**/
.square {
    &:after {
        content: '2';
        position: relative;
        right: 3px;
        bottom: 7px;
        font-size: 9px;
    }
}
/* card */

.card {

    &--container {
        background: var(--white);
        box-shadow: var(--box-shadow) var(--transparent);
        border-radius: 30px;
    }
    &--title {
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 135%;
        font-style: normal;
        color: var(--title-color);
    }
    &--text {
        font-family: 'Core Sans C';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 170.3%;
        color: var(--text-color);
    }
}

/*weCanHelp*/
.weCanHelp {

    &--card {
        width: 280px;
        margin-right: 40px;

        &:hover &--text {
            display: block;
        }

        &:last-child {
            margin-right: 0;
        }

        &__container {
            padding: 32px;
            min-height: 235px;
            flex-direction: column;
            align-items: flex-start;
        }
        &__icon {
            width: 50px;
            height: 50px;
            border-radius: 11px;
            background: var(--light-gray-background);
        }
        &--title {
            font-size: 18px;
            margin-top: 20px;
        }
        &--text {
            display: none;

            & p {
                padding-bottom: 20px;
            }
            & p:last-child {
                padding-bottom: 0;
            }
        }
    }
}

/* percent-slash percent-dot */
.percent {
    position: relative;

    &-square {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 16px;
        left: 19px;
    }
    &-slash {
        &:before {
            position: absolute;top: -3px;
            content: url("../media/we-can-help/percent-slash.png");
        }
    }
    &-dot {
        &:before {
            position: absolute;top: -10px;
            content: url("../media/we-can-help/percent-dot.png");
        }
        &:after {
            position: absolute;top: -3px;left: 8px;
            content: url("../media/we-can-help/percent-dot.png");
        }
    }
}

/* home */
.home {
    position: relative;

    &-dot {
        &:before {
            position:absolute;left:23px;bottom:13px;content:url("../media/we-can-help/home-dot.png");
        }
    }
}
/* bowwu */
.bowwu {

    .bowwu--logo {
        position: relative;

        &__items {
            display: none;
            width: 93vw;
            height: 323px;
            border-radius: 13px;
            background: url("../media/dostoprimechatelnosti-krasnodara 10.png") left no-repeat;
            background-size: 100%;
            margin: 0 auto;
        }
        &__item {

            &__logo {
                position: absolute;
                top: 34px;
                left: 18px;
            }
            &__title {
                position: absolute;
                left: 18px;
                bottom: 34px;
                width: 276px;
                height: 60px;
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 115.3%;
                color: var(--white);
            }
        }
    }

    &__title {
        max-width: 438px;
        max-height: 106px;
    }

    &--card {
        width: 344px;
        margin-bottom: 53px;

        &--list {
            padding: 40px 0 0 60px;
        }
        &__title {
            font-size: 22px;
        }
    }
}

/* our--base--objects */
.our--base--objects {

    &__title {
        max-width: 794px;
        max-height: 106px;
    }
}

/* help--with--buying */
.help--with--buying {

    &__container {
        position: relative;
        height: 696px;
        border-radius: 15px;
        background: url("../media/dostoprimechatelnosti-krasnodara 3.png") center no-repeat;
        background-size: 100%;
    }
    &--content {
        max-width: 90%;
        margin: 0 auto;
        color: var(--white);
        padding-top: 290px;
    }
    &__title {
        max-width: 600px;
        width: 100%;
        font-size: 35px;
        font-weight: 700;
        font-style: normal;
        line-height: 125.3%;
    }
    &__text {
        margin-top: 38px;
        font-weight: 400;
        font-size: 18px;
        font-style: normal;
        line-height: 165.3%;

        & p:first-child {max-width: 392px;}
        & p:nth-child(2) {
            max-width: 601px;
        }
    }
    &__logo {
        position: absolute;
        right: 58px;
        bottom: 58px;

        & .logo {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

/* our--team */
.our--team {

    &__container {
        align-items: flex-start;
        justify-content: space-between;
    }

    &__title {
        max-width: 512px;
        max-height: 106px;
    }

    &__info {
        position: relative;
        
        &__person {
            position: absolute;
            bottom: 0;
            width: 471px;
            height: 191px;
            border-radius: 17px;
            background: var(--white);
            box-shadow: var(--box-shadow) var(--transparent08);

            &__container {
                margin: 30px 34px;
            }
            &__header {
                & h5 {font-size: 34px;}
            }
            &__footer {
                &__item__round {
                    background: #EBF0F2 !important;
                }
            }
        }
    }

    &__list {
        width: 625px;
        height: 278px;
        margin-top: 120px;
        background: var(--white);
        box-shadow: var(--box-shadow) var(--transparent08);
        border-radius: 17px;

        &__container {
            margin: 30px 0 30px 30px;
        }

        &__item {
            width: 95px;
            height: 95px;
            border-radius: 50%;
            margin-right: 20px;
            box-shadow: var(--box-shadow) var(--our-team-person);

            &.active {
                background: var(--our-team-active);
            }

            & img {
                position: relative; top: 8px;left: 8px;
            }
        }
    }
}

/* reviews */
.reviews {

    &__title {
        max-width: 387px;
    }
}

/* personal--control */
.personal--control {

    &__content {
        max-width: 566px;

        & h4 {
            margin-bottom: 54px;
        }

        & p {
            font-size: 18px;
            line-height: 165.3%;
            color: var(--757575);
            padding-bottom: 40px;
        }
        & p:last-child {
            padding-bottom: 0;
        }
    }
}

/* realty--news */
.realty--news {

    &__title {

    }
    &__list {
        margin-top: 33px;
    }
    &__text {
        width: 600px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 165.3%;
    }

    /* realty--news--card */
    &--card {

        &__logo {
            position: relative;

            & img {
                display: block;
            }

            .isVideo {
                position: absolute;
                top: 13px;
                left: 14px;
                width: 79px;
                height: 30px;
                border-radius: 8px;
                color: var(--white);
                backdrop-filter: blur(27px);
                background: rgba(0, 0, 0, 0.35);

                &--logo {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 170.3%;

                    &__text {
                        margin-left: 4px;
                    }
                }
            }
        }


        &__title {
            display: block;
            margin-top: 25px;
            max-width: 317px;
            text-decoration: none;

            & h6 {
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%;
            }
        }

        &__footer {
            margin-top: 22px;

            &__views{
                padding: 0 5px;
                border-radius: 5px;
                backdrop-filter: blur(27px);

                &__icon {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin-left: 20px;
                    margin-right: 5px;

                    &:after {
                        position: absolute;
                        content: url("../media/views-eye/views-eye.png");
                    }
                    &:before {
                        position: absolute;top:-3px;left:6px;
                        content: url("../media/views-eye/views-eye-pupil.png");
                    }
                }
            }
        }
    }
}

/* map */

.round--between--info {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #D5D5D5;
}
