/* Общие стили */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    font-style: normal;
}
:root {
    --black: #000000;
    --white: #FFFFFF;
    --blue-gray: #4B6B7C;
    --light-gray: #D5D6D7;
    --light-gray-background: #F7F3EA;
    --title-color: #3E3E3E;
    --text-color: #888888;
    --logo-light-gray: #B9B9B9;
    --link-color: #A29374;
    --views-background: #F5F5F5;
    --address-office: #E1F0F8;
    --F8F8FA: #F8F8FA;
    --F6F6F7: #F6F6F7;
    --F5F5F6: #F5F5F6;
    --F8F8F9: #F8F8F9;
    --F9F9FA: #F9F9FA;
    --FCF6E5: #FCF6E5;
    --E7EAEC: #E7EAEC;
    --E3E3E3: #E3E3E3;
    --D5D5D5: #D5D5D5;
    --DBDBDB: #DBDBDB;
    --B5B5B5: #B5B5B5;
    --A2A2A2: #A2A2A2;
    --939393: #939393;
    --8D8D8D: #8D8D8D;
    --757575: #757575;
    --606060: #606060;
    --545454: #545454;
    --202020: #202020;
    --161616: #161616;
    --648597: #648597;
    --telegram: #2F89CE;
    --whats-app: #48C95F;
    --box-shadow: 0 25px 70px;
    --our-team-active: #BDAF8A;
    --our-team-person: rgba(0, 0, 0, 0.12);
    --transparent: rgba(0, 0, 0, 0.06);
    --transparent08: rgba(0, 0, 0, 0.08);
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}
.section {
    margin: 140px 0 70px;
    &--title {
        font-size: 38px;
        line-height: 140.3%;

        &__medium {
            font-size: 35px;
        }

        &__little {
            font-size: 32px;
        }
    }
}
.blur    {backdrop-filter:blur(53px);-webkit-backdrop-filter: blur(53px);}
.list    {display:flex;flex-direction:row;align-items:center;list-style:none;height:100%;}
.link    {color: var(--link-color);text-decoration:underline}
.center  {display:flex;align-items:center;justify-content:center}
.start   {display:flex;align-items:flex-start;justify-content:start}
.wrap    {flex-wrap:wrap}
.pattern {background-image:url("../media/Паттерн-2221.png");background-repeat:repeat!important;background-size:45%!important;
&--short {max-height: 380px !important;}}
.white-button {background:var(--white)!important;color:var(--title-color)!important}
.yellow-button {
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    background: #D8B05E;
    color: var(--white);
    border-radius: 14px;
    border: none; outline: none;
}
.map--tag {
    border-radius: 50%;
    color: var(--white);
    width: 25px; height: 25px;
    backdrop-filter: blur(17px);
    background: var(--link-color);
    box-shadow: 0 0 40px 51px rgba(147, 116, 64, 0.4);
    -webkit-box-shadow: 0 0 40px 51px rgba(147, 116, 64, 0.4);
    -moz-box-shadow: 0 0 40px 51px rgba(147, 116, 64, 0.4);
}
.justify {
    &-between {justify-content: space-between}
    &-around  {justify-content: space-around}
    &-evenly  {justify-content: space-evenly}
}
.between--info {
    &--round {display: block;width:6px;height:6px;border-radius:50%;background:var(--D5D5D5);}
    &--stick {width: 0;height: 28px;margin: 10px 5px;border: 1px solid var(--E3E3E3);}
}

input[type='range'] {overflow: hidden;-webkit-appearance: none;background-color: #F1EDE3;}
input[type='range']::-webkit-slider-runnable-track {
    color: #D1C19D;margin-top: -1px;
    height: 10px; -webkit-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
    width: 10px; height: 10px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: var(--link-color);
    box-shadow: -80000px 0 0 80000px #D1C19D;
}
/** FF*/
input[type="range"]::-moz-range-progress {background-color: #D1C19D;}
input[type="range"]::-moz-range-track {background-color: #9a905d;}
/* IE*/
input[type="range"]::-ms-fill-lower {background-color: #D1C19D;}
input[type="range"]::-ms-fill-upper {background-color: #9a905d;}

/* logo */
.logo__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 97.3%;
    color: var(--light-gray);
}
.aligns--title {margin-bottom: 34px;}
/* card */
.card {
    &--container {
        border-radius: 30px;
        background: var(--white);
        box-shadow: var(--box-shadow) var(--transparent);
    }
    &--title {
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 135%;
        color: var(--title-color);
    }
    &--text {
        font-family: 'Core Sans C';
        font-weight: 300;
        font-size: 14px;
        line-height: 170.3%;
        color: var(--text-color);
    }
    &--price {
        &__current {
            font-size: 28px;
            line-height: 141%;
            font-weight: 600;
        }
        &__old {
            font-size: 18px;
            font-weight: 500;
            line-height: 141%;
            color: var(--B5B5B5);
            text-decoration-line: line-through;
        }
        &__per__meter {
            font-family: 'Core Sans C';
            font-size: 17px;
            font-weight: 400;
            line-height: 170.3%;
            color: var(--text-color);
        }
        &__can__mortgage {
            font-family: 'Core Sans C';
            font-size: 17px;
            font-weight: 400;
            line-height: 170.3%;
            color: var(--161616);
            text-decoration-line: underline;
        }
    }
    /* card--static--item */
    &--static--item {min-height: 300px !important;}
    /* card-with-hidden-object */
    &--with--hidden--object {
        position: relative;
        &__container {
            position: absolute;
            width: 100%;
            padding: 16px;
        }
        &__hidden__block {
            visibility: hidden;
            opacity: 0; height: 0;
            transition: all ease .2s;
        }
        &:hover &__hidden__block {
            visibility: visible;
            opacity: 1;
            height: auto;
            transition: all ease .2s;
        }
    }
}
/* we--can--help */
.we--can--help {
    margin-top: -40px;
    &--list {
        min-height: 520px;
        overflow: visible;
        &__item {
            min-height:255px !important;
            &__header { &__title {font-size: 18px;}}
        }
    }
}
/* top--cards--list */
.top--cards--list {
    &__item {
        width: 260px;
        min-height: 235px;
        margin: 20px 20px 70px;
        background: var(--white);
        box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
        border-radius: 30px;
        &__container {margin: 40px;}
        &__header {
            &__title {font-size: 18px;margin: 15px 0;}
            &__icon {
                width: 50px;height: 50px;border-radius: 11px;
                background: rgba(247, 243, 234, 0.5);
            }
        }
        &__body {& p {margin: 20px 0;}}
    }
}

/* percent-slash percent-dot */
.percent {
    position: relative;
    &-square {
        position: absolute;
        top: 16px; left: 19px;
        width: 10px; height: 10px;
    }
    &-slash {
        &:before {
            position:absolute;top:-3px;
            content: url("../media/card-icon/percent-slash.png");
        }
    }
    &-dot {
        &:before {
            position:absolute;top:-10px;
            content: url("../media/card-icon/percent-dot.png");
        }
        &:after {
            position: absolute;top:-3px;left:8px;
            content: url("../media/card-icon/percent-dot.png");
        }
    }
}

/* home */
.home {
    position: relative;
    &-dot {
        &:before {position:absolute;left:23px;bottom:13px;content:url("../media/card-icon/home-dot.png")}
    }
}

/* bowwu */
.bowwu {
    &--logo {
        position: relative;
        &__items {
            display: none;
            width: 93vw; height: 323px;
            margin: 0 auto;
            border-radius: 13px;
            background: url("../media/dostoprimechatelnosti/dostoprimechatelnosti-krasnodara 10.png") left no-repeat;
            background-size: 100%;
        }
        &__item {
            &__logo {position: absolute;top: 34px; left: 18px;}
            &__play {
                position: absolute;
                width: 79px;
                height: 79px;
                top: 60px;
                left: 40%;
                border-radius: 50%;
                border: none; outline: none;
                background: rgba(255, 255, 255, 0.06);
            }
            &__title {
                position: absolute;
                left: 18px; bottom: 34px;
                width: 276px; height: 60px;
                font-weight: 700;
                font-size: 26px;
                line-height: 115.3%;
                color: var(--white);
            }
        }
        &--watch {
            width: 90%; height: 120px;
            border-radius: 15px; flex-direction: column
        }
    }
    &__title {max-width: 438px;max-height: 106px;}
    &--card {
        width: 344px;
        margin-bottom: 53px;
        &.hover {
            width: 353px;
            height: 306px;
            padding: 30px;
            transition: all ease-in .2s;
            &:hover {
                transition: all ease-in .2s;
                background: var(--white);
                box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
                border-radius: 30px;
            }
        }
        &--list  {padding: 40px 0 0 60px;}
        &__title {font-size: 22px;}
        & a      {display: block;margin-top: 30px;}
    }
}
/* objects */
.objects {
    min-height: 500px;margin: 140px auto;
    &__title {
        max-width: 794px;
        max-height: 106px;
        margin-bottom: 40px;
    }
    &__card {
        width: 100%;
        border-radius: 13px;
        min-height: 385px;
        max-width: 390px;
        &__check__more {
            position: relative;
            width: 360px; height: 365px;
            margin: 40px 0 0 30px !important;
            background: #F5F5F6;
            border-radius: 13px;
            &:hover {background: #F5F5F6 !important;}

            &__little {
                position: absolute;
                width: 62px; height: 62px;
                left: 37px; top: 172px;
                background: #FFFFFF;
                border-radius: 15px;
            }
            &__big {position:absolute;top:-1px;right:0;}
            &__title {position:absolute;top:255px;left:37px;}
        }

        &__body {
            &__title {
                &__jk {
                    & h4 {margin-top: 15px;font-size: 30px !important;}
                }
                & h4 {font-size: 19px;}
            }
            &__info {
                &__house {
                    width: 85%;
                    margin-top: 15px;
                    font-family: 'Core Sans C';
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 170.3%;
                    &__jk {color: var(--black);text-decoration-line: underline;}
                    &__renting {color: var(--606060)}
                }
                &__tags {
                    margin: 16px 16px;
                    & li {
                        font-family: 'Core Sans C';
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 167.3%;
                        color: var(--606060);
                    }
                }
            }
        }
        &:hover &__container {
            z-index: 1000;
            border-radius: 21px;
            background: var(--white);
            box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.12);
            transition: all ease .15s;
        }
        &:hover &__body__title h4 {
            color: var(--link-color);
            text-decoration: underline;
            transition: all ease .2s;
        }
        &__container {
            margin: 16px;
            &__400 { max-width: 395px !important }
        }
        &__header {
            position: relative;
            max-width: 360px;
            max-height: 211px;
            & img {display: block;width: 100%;height: 100%;}
        }
        &__room {
            &.active  { & li {color: var(--link-color) !important;} }
            & li      { color: var(--black) !important; }
        }
        &__footer { &__info {& .list {max-width: 90%} } }
        &__tags {
            position:absolute;top:-75px;left:15px;
            &__item {
                border-radius: 8px;
                margin-right: 12px;
                backdrop-filter: blur(27px);
                -webkit-backdrop-filter: blur(27px);
                background: rgba(0, 0, 0, 0.28);
                &__container  {
                    font-family: 'Core Sans C';
                    font-size: 13px;
                    font-weight: 400;
                    padding: 5px 8px;
                    text-align: center;
                    color: var(--white);
                    line-height: 170.3%;
                }
            }
        }
    }
}
/* help--with--buying */
.help--with--buying {
    margin-bottom: 160px;
    &__container {position: relative; height: 696px;border-radius: 15px;}
    &--content {
        position: absolute;
        top: 290px; left: 140px;
        max-width: 90%;
        margin: 0 auto;
        color: var(--white);
    }
    &__title {
        width: 100%;
        font-size: 35px;
        font-weight: 700;
        line-height: 125.3%;
        max-width: 600px;
    }
    &__text {
        margin-top: 38px;
        font-weight: 400;
        font-size: 18px;
        line-height: 165.3%;
        & p {margin-bottom: 20px}
        & p:first-child  {max-width: 392px;}
        & p:nth-child(2) {max-width: 601px;}
    }
    &__logo {
        position:absolute;right:75px;bottom:58px;
        & .logo {display: flex;flex-direction: column-reverse;}
    }
}
/* our--team */
.our--team {
    margin-top: 150px;
    &__container {align-items: flex-start;justify-content:space-between;}
    &__title     {max-width: 512px;max-height: 106px;}
    &__info {
        position: relative;
        &__person {
            position: absolute;
            bottom: 0;
            width: 471px; height: 191px;
            border-radius: 17px;
            background: var(--white);
            box-shadow: var(--box-shadow) var(--transparent08);
            &__container {margin: 30px 34px;}
            &__header    { & h5 {font-size: 34px;} }
            &__footer    { &__item__round {background: #EBF0F2 !important;} }
        }
    }
    &__list {
        width: 625px; height: 278px;
        margin-top: 120px;
        background: var(--white);
        box-shadow: var(--box-shadow) var(--transparent08);
        border-radius: 17px;
        &__container {margin: 30px 0 30px 30px;}
        &__item {
            width: 95px; height: 95px;
            border-radius: 50%;
            margin-right: 20px;
            box-shadow: var(--box-shadow) var(--our-team-person);
            &.active {background: var(--our-team-active);}
            & img {position:relative;top:8px;left:8px;}
        }
    }
}
/* reviews */
.reviews {
    margin-top: 150px;
    &__header {
        &__review {
            &__title{
                &__stats {
                    margin-bottom: 22px;
                    &__total {
                        display: flex !important;
                        justify-content: space-between;
                        &__value {margin: 0 6px;}
                    }
                    &__today {
                        display: flex !important;
                        justify-content: space-between;
                        margin-left: 20px;
                        &__today {margin-left: 6px;}
                    }
                }
            }
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        & h4 {max-width: 387px;}
        &__panel {
            border-radius: 17px;
            width: 689px; height: 55px;
            background: var(--white) !important;
            box-shadow: var(--box-shadow) var(--transparent08);
        }
    }
    &--card {
        min-height: 600px;
        background-color: #4B6B7C05;
        &__container {max-width: 87%; margin: 0 auto;}
        &__slider {
            &__logo { & div {width: 492px; height: 295px;} }
            &__list {
                width: 500px !important;
                &__item {
                    width: 90px; margin-top: 10px;
                    height: 65px !important;
                    & img {display: block;width: 90px;height: 65px;}
                }
            }
            &__counter {
                font-family: 'Core Sans C';
                font-size: 16px;
                line-height: 165.3%;
                text-align: center;
                letter-spacing: -0.03em;
                margin: 0 13px 0 16px;
                &__current {font-weight: 600;}
                &__slash   {font-weight: 600;margin: 0 5px;}
            }
        }
        &--panel {margin-top: 50px;}
        &__play {
            &__button {
                width: 30px; height: 30px;
                border-radius: 50%;
                border: none; outline: none;
                background: var(--white);
                box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.3);
                &:active {
                    background: var(--F8F8F9);
                    box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.5);
                }
            }
        }
        // Прогресс бар
        // reviews--card__progress
        &__progress {
            // обёртка
            &__item {
                position: relative;
                max-width: 272px;
                width: 100vw; height: 10px;
                background: var(--white);
                box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                // линия заполнения
                &__line {
                    position:absolute;
                    top:3px;left:5px;
                    // Заполнение зависит от ширины в %
                    width:60%; height:4px;
                    max-width: 95%; border-radius: 5px;
                    background: var(--link-color);
                }
            }
        }
        &__tuda__suda {
            &__button {
                width: 41px;height:41px;margin: 2px;
                border-radius: 50%;background: #F8F0DF;
                border: none; outline: none;
                &:active {
                    background: var(--F8F8F9);
                    box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.5);
                }
                &__icon {
                    width: 25px;
                    height: 29px;
                    &__first {
                        position: absolute;
                        width: 7px;height: 2px;
                        top: 11px;left: 8.5px;
                        border-radius: 8px;
                        transform: rotate(45deg);
                        background: var(--link-color);
                    }
                    &__second {
                        position: absolute;
                        width: 7px;height: 2px;
                        top: 15px;left: 8.5px;
                        border-radius: 8px;
                        transform: rotate(-45deg);
                        background: var(--link-color);
                    }
                }
                &__tuda {position: relative; width: 100%; height: 100%;}
                &__suda {position: relative;width: 100%; height: 100%;top: -1px; left: -2px;transform: rotate(180deg);}
            }
        }
        //
        &--address {
            height: 340px; padding: 60px 0;
            &__title   {width: 100%;max-width: 477px;font-size: 28px;}
            &__address {font-size: 20px;margin-bottom: 30px;}
            &__card {
                width: 485px; height: 100px;
                border-radius: 17px;
                background: var(--white);
                box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
                &__container {padding-top: 20px;padding-left: 30px;}
                &__item {
                    margin: 20px 18px;
                    &__is__discount {
                        padding: 5px; border-radius: 6px;
                        color: var(--link-color);
                        background: var(--light-gray-background);
                    }
                }
            }
        }
        &--item {
            font-size: 14px;max-width: 411px;
            &.top {
                margin-top: 60px;
            }
            &__header {
                &__name {
                    margin-left: 15px;
                    &__full__name {font-size: 20px;}
                }
            }
            &__body {width: 100%;margin-top: 21px;}
        }
    }
    //
    &--page {
        &--card {
            margin: 40px 0;
            &__progress__item {max-width: 455px;}
        }
    }
}

/* personal--control */
.personal--control {
    margin-top: 150px;
    &__logo {display: none;}
    &__content {
        max-width: 566px;
        & h4 {margin-bottom: 54px;}
        & p {
            font-size: 18px;
            line-height: 165.3%;
            color: var(--757575);
            padding-bottom: 40px;
        }
        & p:last-child {padding-bottom: 0;}
    }
}
/* realty--news */
.realty--news {
    margin-top: 120px;
    margin-bottom: 150px;
    &__list {margin-top: 33px;}
    &__text {
        width: 600px;
        font-size: 18px;
        font-weight: 400;
        line-height: 165.3%;
    }
    /* realty--news--card */
    &--card {
        &__logo {
            position: relative;
            & img {display: block;}
            .isVideo {
                position: absolute;
                top: 13px; left: 14px;
                width: 79px; height: 30px;
                border-radius: 8px;
                color: var(--white);
                backdrop-filter: blur(27px);
                -webkit-backdrop-filter: blur(27px);
                background: rgba(0, 0, 0, 0.35);
                &--logo {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 170.3%;
                    &__text {margin-left: 4px;}
                }
            }
        }
        &__title {
            display: block; max-width: 317px;
            margin-top: 25px; text-decoration: none;
            & h6 {font-size: 20px;font-weight: 600; line-height: 135%;}
        }
        &__footer {
            margin-top: 22px;
            &__views{
                padding: 0 5px;
                border-radius: 5px;
                backdrop-filter: blur(27px);
                -webkit-backdrop-filter: blur(27px);
                &__icon {
                    position: relative;
                    width:20px;height:20px;
                    margin: 0 5px 0 20px;
                    &:after {
                        position: absolute;
                        content: url("../media/views-eye/views-eye.png");
                    }
                    &:before {
                        position: absolute;top:-3px;left:6px;
                        content: url("../media/views-eye/views-eye-pupil.png");
                    }
                }
            }
        }
    }
}
.catalog {
    margin-top: -50px;
    &--wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        &__list { &__card {max-width: 254px;} }
        &__map {
            width: 360px;height: 462px;
            opacity: 0.8;border-radius: 25px;
        }
    }
}

.mortgage {
    margin-top: 130px;
    &__text {
        & p {
            font-family: 'Core Sans C';
            font-size: 18px;
            font-weight: 300;
            line-height: 165.3%;
            max-width: 510px;
            margin-bottom: 30px;
            color: var(--202020);
        }
    }
    &__bet {flex-direction: column;}
    &__body {display: flex;}
    &--params {
        width: 560px; height: 712px;
        background: var(--white);
        box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
        border-radius: 17px;
        &__container {margin: 30px;}
        &__card {
            &__line {
                display: block;
                width: 100%;height: 0;
                margin: 43px auto;
                border: 1px solid #DEDEDE;
            }
            &__header { & h4 {font-size: 18px;} }
            &__body   { &__range {margin-top: 30px;} }
        }
    }
}
.help--mortgage {
    &--card {
        &__list{
            &__item {
                display: flex;
                align-items: center;
                position: relative;
                width: 100vw;height: 100vh;
                max-width: 330px;
                max-height: 190px;
                padding: 35px 38px;
                border-radius: 12px;
                background: url("../media/Паттерн-2224.png") center no-repeat #4B6B7C05;
                margin: 20px;
                &__logo {
                    position: absolute;
                    width: 42px;height: 44px;
                    top: 0;right: 0;
                    font-size: 20px;
                    line-height: 96%;
                    font-weight: 700;
                    text-align: center;
                    background: #FCF6E5;
                    border-radius: 12px;
                    color: var(--link-color);
                }
                &__text {
                    max-width: 254px;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 135%;
                    color: var(--title-color);
                }
            }
        }
    }
}
.bet {
    font-family: 'Core Sans C';
    font-size: 16px;
    font-weight: 600;
    line-height: 165.3%;
    letter-spacing: -0.03em;
    &__header {margin-bottom: 20px;}
    &__img {width: 120px;}
    &__our {
        text-align: left;
        font-weight: 600;
        color: var(--link-color);
        &.title {margin: 0 36px 0 225px;}
        &.item  {width: 70px;}
    }
    &__basic { &.item {width: 70px;} }
    &--list {
        list-style: none;
        &__item {
            width: 100vw !important;
            height: 60px;max-width: 560px !important;
            border-radius: 12px;padding: 20px 28px;
            &:nth-child(2n-1) {background: var(--F8F8F9);}
            &__every {width: 100%; margin-top: 25px;background: var(--F8F8F9);}
            &__container {
                display: flex;width: 100%;margin: 0 auto;
                padding-right: 80px;justify-content: space-between;
            }
        }
    }
}
.cards--at--top {
    position: relative;top: -80px;margin-bottom: -200px;
    &__list {
        &__item {
            &__header {
                position: relative;
                &__icon  {position: absolute;right: -25px;top: -25px;}
                &__title {font-size: 22px;width: 171px;}
            }
        }
    }
}
/* contact */
.contact {
    &__body {
        &__container {
            max-width: 282px;
            margin-right: 115px;
            margin-bottom: 46px;
            & h3 {
                font-size: 32px;
                font-weight: 400;
                line-height: 135%;
                &.address {font-size: 24px;}
            }
        }
        &__list{
            background: var(--white);
            width: 192px; height: 60px;
            box-shadow: 0 25px 54px rgba(0, 0, 0, 0.07);
            border-radius: 17px;
        }
    }
}
.realtors {
    &--list {
        &__item {
            width: 100%; height: 130px;
            margin: 20px;
            max-width: 560px;
            min-width: 336px;
            border-radius: 17px;
            background: var(--F8F8FA);
            &__container {margin: 0 15px;}
            &__body {
                width: 100%; margin-left: 20px;
                &__body {width: 70%;}
            }
        }
    }
}
.blog {
    margin-bottom: 140px;
    &__container {margin: 80px auto;}
    &--card      {margin: 15px;}
    &--footer {
        &__modal {display: none;}
        &__map {display: none;}
    }
}
.we--can--search {
    border-radius: 10px;
    margin: -50px 30px 0;
    width: 498px; height: 280px;
    background-size: 100% !important;
    &__container {margin: 30px;height: 80%;}
}
.benefits {
    margin-top: 140px;
    &__body {
        width: 100%;
        max-width: 760px;
        background-size:90%!important;
        border-radius: 19px 0 0 19px;
        &__container {
            margin: 37px;
            &__list {
                display: none; padding: 40px 37px;
                & li {margin-bottom: 20px;}
            }
        }
        &__card {
            margin: 15px; padding: 10px;
            text-align: center;
            background: var(--white);
            border-radius: 25px;
        }
    }
}
.opisanie {
    &__container {width: 100%;max-width: 760px;}
    &__header {margin-bottom: 30px;}
    &__body {
        width: 100%;
        max-width: 760px;
        border-radius: 17px;
        background: var(--F8F8FA);
        &__container {
            padding: 38px;
            font-family: 'Core Sans C';
            font-weight: 300;
            font-size: 18px;
            line-height: 165.3%;
            color: var(--202020);
            & p {margin-bottom: 50px ;}
        }
    }
}
.info--card {
    width: 549px;
    height: 269px;
    background: var(--white);
    box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
    border-radius: 17px;
    &__container {margin: 30px 37px;max-width: 70%;}
    &__header {
        & a {
            font-family: 'Core Sans C';
            font-weight: 400;
            font-size: 15px;
            line-height: 170.3%;
            text-decoration-line: underline;
            color: var(--161616);
            &:last-child {color: var(--A2A2A2);}
        }
    }
    &__body {margin-top: 34px;}
}
.buy--with--c21 {
    background: var(--F9F9FA);
    &__container {padding: 80px 0 !important;}
}
.call--me--maybe {
    width: 100%; height: 405px;
    max-width: 492px;
    background: var(--white);
    box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
    margin-top: 40px;
    border-radius: 17px;
    &__container {width: 80%;margin: 40px auto;}
    &__body {
        margin-top: 50px;
        & div {margin: 15px 0;}
        &__button {padding-top: 40px;width: 280px;}
    }
}

.reshenie--ot--bankov {
    &__container {width: 100%;max-width: 500px;}
    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 143.3%;
        margin-bottom: 34px;
    }
    &__body {
        ont-family: 'Core Sans C';
        font-weight: 400;
        font-size: 18px;
        line-height: 165.3%;
        /* or 30px */
        max-width: 485px;
        margin-bottom: 54px;
    }
}
.consultants {
    &__header {
        max-width: 470px; margin-top: 70px;
        &__container {
            & ul {
                font-family: 'Core Sans C';
                width: 443px;
                height: 150px;
                font-size: 18px;
                font-weight: 300;
                line-height: 165.3%;
                color: var(--202020);
                & li {margin-top: 10px;margin-left: 30px;}
            }
        }
    }
    &__body {
        &__list {
            &__item {
                margin: 11px;
                width: 100vw; height: 100vh;
                max-width: 155px; max-height: 150px;
                background: var(--white);
                box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
                border-radius: 18px;
            }
        }
        &__call {
            &__container {
                padding: 20px 33px;
                background: var(--white);
                box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
                border-radius: 18px;
            }
            &__list {display: flex; flex-direction: row; justify-content: space-between;}
        }
    }
}
.cooperation {
    background-color: #4B6B7C05;
    &__container {padding: 70px 0;}
    &__body {
        &__container {margin-top: 60px;}
        &__header    {font-size: 25px;}
        &__body {
            &__list {
                &__item {
                    width: 100vw;
                    height: 100vh;
                    margin: 10px;
                    max-width: 100px; max-height: 62px;
                    background: var(--white);
                    box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.08);
                    border-radius: 9px;
                }
            }
        }
    }
}
.certificate {
    &__body {
        &__list {
            &__card {
                position: relative;
                margin: 0 20px 20px;
                box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
                border-radius: 30px;
                &__blur {
                    position: absolute;
                    left: 30px;
                    bottom: 40px;
                    width: 495px;
                    height: 200px;
                    padding: 30px;
                    border-radius: 21px;
                    color: var(--white);
                    background: rgba(49, 49, 49, 0.24);
                    &__title {
                        width: 180px;
                        height: 60px;
                        margin-bottom:22px;
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 138.3%;
                    }
                    &__text {
                        width: 433px;
                        height: 52px;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 143.3%;
                        font-family: 'Core Sans C';
                    }
                }
                &.maxi   {padding: 12px;}
                &.mini   {width: 325px; height: 262px; padding: 30px;}
                &__title {width: 148px;font-size: 19px;}
            }
        }
    }
}
.vacancy {
    &__list {
        &__item {
            position: relative;
            margin: 20px;
            width: 560px; height: 130px;
            background: #F8F8FA;
            border-radius: 17px;
            &__container {margin: 35px;}
            &__header {
                font-size: 20px;
                &__logo {position: absolute; top: 17px; right: 20px;}
            }
            &__body {
                width: 100%; justify-content: space-between;
                &__geo {
                    &__round {
                        width: 22px;
                        height: 22px;
                        background: #EDEDED;
                        border-radius: 24px;
                    }
                    &__title {margin-top: 10px; margin-left: 10px;}
                }
            }
        }
    }
}
.job--review {
    margin-bottom: 200px;
    &__header {margin-left: 60px;}
    &__body {
        &__list {
            &__item {
                width: 100vw;
                height: 100vh;
                margin: 20px;
                padding: 40px;
                max-width: 560px;
                max-height: 449px;
                border-radius: 18px;
                background: url("../media/Паттерн-2224.png") center no-repeat #4B6B7C05;
                &__header {font-size: 22px; max-width: 50%;}
                &__body {
                    &__text {margin: 30px 0; & p {margin: 20px 0;} }
                    &__chelovek {
                        &__logo {
                            width: 67px;
                            height: 67px;
                            margin-top: -30px;
                            margin-right: 20px;
                            border-radius: 50%;
                            & img {display: block;width: 100%;height: 100%;}
                        }
                    }
                }
            }
        }
    }
}

.hlopoti {
    &--card {
        width: 100%;
        max-width: 358px;
        height: 390px !important;
        box-shadow: none;
        background: url("../media/Паттерн-2224.png") center no-repeat #4B6B7C05;
        & p      {font-size: 16px;}
        &__title {width: 283px;height: 60px;font-size: 22px;}
    }
}

.take--care--yourself{
    &__list {
        &__item {
            margin: 40px;
            & img  {display: block; width: 100%; height: 100%;}
            &.text {width: 100%; max-width: 500px;}
            &.img {
                padding: 10px;
                max-width: 621px;
                max-height: 554px;
                background: var(--white);
                box-shadow: 5px 25px 70px rgba(0, 0, 0, 0.08);
                border-radius: 30px;
            }
            &__text {
                font-family: 'Core Sans C';
                width: 78%;
                font-size: 18px;
                font-weight: 300;
                margin-top: 50px;
                color: var(--202020);
                line-height: 165.3%;
            }
        }
    }
}

.phone {
    max-width: 650px;
    padding: 60px;
    &--title {
        max-width: 532px;
        &__title {
            width: 80%;
            font-size: 35px;
            font-weight: 700;
        }
        &__list {
            &__item {
                font-size: 18px;
            }
        }
    }

    &--block {
        position: relative;
        &__buy__it {
            margin-top: 60px;
            padding: 30px;
            background: var(--white);
            box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.06);
            width: 474px; height: 250px;
            border-radius: 17px;
            &__title {
                font-family: 'Core Sans C';
                width: 387px;
                height: 30px;
                font-size: 18px;
                font-weight: 500;
                line-height: 167.3%;
                color: #606060;
                padding-bottom: 10px;
            }
            &__list {
                margin: 10px 20px;
                & li {
                    font-family: 'Core Sans C';
                    font-size: 16px;
                    line-height: 167.3%;
                    font-weight: 400;
                    color: #606060;
                }
            }
            &__button {
                width: 197px;
                height: 52px;
                font-size: 15px;
                font-weight: 600;
                line-height: 100%;
                margin-top: 30px;
                & * {
                    display: flex;
                }
            }
        }
        &__phone {
            position: absolute;
            top: -240px;
            right: 0;
            width: 362px;
            height: 554px;
        }
    }
}