/* Общие стили */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

:root {
    --white: #FFFFFF;
    --blue-gray: #4B6B7C;
    --light-gray: #D5D6D7;
    --light-gray-background: #F7F3EA;
    --title-color: #3E3E3E;
    --text-color: #888888;
    --logo-light-gray: #B9B9B9;
    --link-color: #A29374;
    --transparent: rgba(0, 0, 0, 0.06);
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}
.section--title {
    font-size: 38px;
    line-height: 140.3%;
}
.wrap   {flex-wrap:wrap}
.blur   {backdrop-filter: blur(53px);}
.list   {display:flex;flex-direction:row;align-items:center;list-style:none;height:100%;}
.center {display:flex;align-items: center;justify-content: center;}
.link   {
    color: var(--link-color);
    text-decoration: underline;
}
/* logo */
.logo__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 97.3%;
    color: var(--light-gray);
}
.logo__text {color: var(--logo-light-gray)}

/* filter-panel */
.filter--panel__container {
    position: relative;
    height: 235px;
    top: -121px;
    background: var(--white);
    border-radius: 30px;
    z-index: 1000;
    box-shadow: 0px 12px 100px var(--transparent);
}
.filter--panel__small {
    position: absolute;
    display: flex;
    top: -60px;
    right: 0;
    width: 445px;
    height: 100px;
    border-radius: 20px;
    background: var(--white);
}
.filter--panel__small__container {
    width: 100%;
    padding-top: 11px;
    justify-content: center;
    align-items: flex-start;
}
.filter--panel__small__container span {
    width: 0;
    height: 28px;
    margin: 10px 5px;
    border: 1px solid #E3E3E3;
}
/*  */
.filter--button {
    min-width: 38px;
    min-height: 38px;
    border: none;
    outline: none;
    color: #818286;
    background: var(--white);
    border-radius: 10px;
}
.filter--button label {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.filter--button input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter--button input:checked+label {
    color: var(--link-color);
    background: var(--light-gray-background);
}
.filter--panel__small__button {
    padding: 14px 16px;
}
/* filter--panel__big */
.filter--panel__big__container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 42px 0;
}
/**/
.square:after {
    content: '2';
    position: relative;
    right: 3px;
    bottom: 7px;
    font-size: 9px;
}
/* card */
.card--container {
    background: var(--white);
    box-shadow: 0px 25px 70px var(--transparent);
    border-radius: 30px;
}
.card--title {
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 135%;
    font-style: normal;
    color: var(--title-color);
}
.card--text {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 170.3%;
    color: var(--text-color);
}

/*weCanHelp*/
.weCanHelp {
    margin-top: -20px;
}
.weCanHelp--card {
    width: 280px;
    margin-right: 40px;
}
.weCanHelp--card:last-child {
    margin-right: 0;
}
.weCanHelp--card__container {
    padding: 32px;
    min-height: 235px;
    flex-direction: column;
    align-items: flex-start;
}
.weCanHelp--card__icon {
    width: 50px;
    height: 50px;
    border-radius: 11px;
    background: var(--light-gray-background);
}
.weCanHelp--card--title {
    font-size: 18px;
    margin-top: 20px;
}
.weCanHelp--card--text {
    display: none;
}
.weCanHelp--card--text p {
    padding-bottom: 20px;
}
.weCanHelp--card--text p:last-child {
    padding-bottom: 0;
}

.weCanHelp--card:hover .weCanHelp--card--text {
    display: block;
}
/* percent-slash percent-dot */
.percent {
    position: relative;
}
.percent-square {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 16px;
    left: 19px;
}
.percent-slash:before {
    content: url("../media/we-can-help/percent-slash.png");
    position: absolute;
    top: -3px;
}
.percent-dot:before {
    content: url("../media/we-can-help/percent-dot.png");
    position: absolute;
    top: -10px;
}
.percent-dot:after {
    content: url("../media/we-can-help/percent-dot.png");
    position: absolute;
    top: -3px;
    left: 8px;
}
/* home */
.home {
    position: relative;
}
.home-dot:before {
    content: url("../media/we-can-help/home-dot.png");
    position: absolute;
    bottom: 13px;
    left: 23px;
}
/* bowwu */
.bowwu {
    margin-top: 100px;
}
.bowwu__list {

}
.bowwu--logo {
    position: relative;
}
.bowwu--logo__items {
    display: none;
    width: 93vw;
    height: 323px;
    border-radius: 13px;
    background: url("../media/dostoprimechatelnosti-krasnodara 10.png") left no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
.bowwu--logo__item__logo {
    position: absolute;
    top: 34px;
    left: 18px;
}
.bowwu--logo__item__title {
    position: absolute;
    left: 18px;
    bottom: 34px;
    width: 276px;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 115.3%;
    color: var(--white);
}
.bowwu__title {
    max-width: 438px;
    max-height: 106px;
}
.bowwu--card {
    width: 344px;
    margin-bottom: 53px;
}
.bowwu--card--list {
    padding: 40px 0 0 60px;
}
.bowwu--card__title {
    font-size: 22px;
}
/* our--base--objects */
.our--base--objects {
    margin-top: 158px;
}
.our--base--objects__title {
    max-width: 794px;
    max-height: 106px;
}

/* help--with--buying */
.help--with--buying {
    margin-top: 183px;
}
.help--with--buying__container {
    position: relative;
    height: 696px;
    border-radius: 15px;
    background: url("../media/dostoprimechatelnosti-krasnodara 3.png") center no-repeat;
    background-size: 100%;
}
.help--with--buying--content {
    max-width: 90%;
    margin: 0 auto;
    color: var(--white);
    padding-top: 290px;
}
.help--with--buying__title {
    max-width: 600px;
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    line-height: 125.3%;
}
.help--with--buying__text {
    margin-top: 38px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 165.3%;
}
.help--with--buying__text p:first-child {max-width: 392px;}
.help--with--buying__text p:nth-child(2) {
    max-width: 601px;}

.help--with--buying__logo {
    position: absolute;
    right: 58px;
    bottom: 58px;
}
.help--with--buying__logo .logo {
    display: flex;
    flex-direction: column-reverse;
}

/* our--team */
.our--team {
    margin-top: 150px;
}
.our--team__title {
    max-width: 512px;
    max-height: 106px;
}

/* reviews */
.reviews {
    margin-top: 141px;
}
.reviews__title {
    max-width: 387px;
}

/* personal--control */
.personal--control {
    margin-top: 145px;
}
.personal--control__title {
    max-width: 566px;
}
/* realty--news */
.realty--news {
    margin-top: 136px;
}
.realty--news__title {
}

/* map */
.map {
    margin-top: 154px;
}